@media (max-width:480px) {

    // navbar
    .container-fluid {



        .nav-item a {

            font-size: 15px;

            text-align: center;

        }

        .imagen_logo {
            width: 140px;
            height: 140px;

            &:hover {
                transform: scale(1.2);
                transition: .3s;
            }
        }

        .navbar-hover li {

            transition: 0.3s;

            &:hover a {
                transform: scale(1.1);
            }

        }

    }

    // MediaQueries Index 

    main {



        .producto img {
            width: 70%;

        }

        .producto {

            width: 70%;

        }


    }

    //MediaQueries Store



    main {

        .grid-container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);

            .grid-item:nth-child(3) {
                grid-column-start: span 1;
            }

        }

    }



    //MediaQueries Locales

    main {


        .cartas {

            @include d-flex (flex, space-around, wrap)
        }

        .card {
            width: 75%;
        }







        .imagebg {
            @extend .d-flex;
            height: 91vh;

            background-image: linear-gradient(0deg,
                    rgba(0, 0, 0, 0.527),
                    rgba(0, 0, 0, 0.486)),
                url(../images/local1.jpg);
            background-size: cover;
            background-position: center center;
            font-size: 40px;
            margin-bottom: 55px;


        }

        .imagebg_h2 {
            text-align: center;
            font-size: 50px;

        }
    }


    //MediaQueries Usuario

    main {

        .bgimage-usuario {

            .login-box {

                width: 80%;
            }

        }

    }

    //MediaQueries Pago

    main {

        .metodos-pago {


            .metodos-pago-lista {

                display: flex;
                flex-wrap: wrap;

            }


        }

    }


}