main {


    .titulo__pago  { 
    text-align: center;
    padding: 20px;
    font-weight: bold;
    background-color: #fda310;
    border-radius: 30px;
    margin-top: 20px;

}

     h3 {
        text-align: center;
        padding: 20px;
        font-weight: bold;
        height: 15vh;
        
       
    }

    .metodos-pago {
        background-color: #dbdbdbc9;
        padding: 20px;
        height: 100vh;

        .metodos-pago-lista {
            list-style-type: none;
            display: flex;
            justify-content: center;
            margin-top: 50px;
    
            .metodos-pago-item img {
                width: 200px;
                height: 120px;
            }
        }

        .metodos-pago-item {
            margin: 10px;
            text-align: center;
    
            span {
                font-size: 23px;
                font-weight: bold;
            }
        }
    
    }

    .metodos-pago h2 {
        text-align: center;
        padding: 20px;
        font-weight: bold;
        background-color: #fda310;
        display: inline-block;
        width: 100%;
        border-radius: 10px;
    }


    .metodos-pago-item span {
        display: block;
        margin-top: 5px;
    }


}