// fuente 
 @import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

//body


body {
    font-family: "outfit";
    background-color: rgb(196, 195, 195);
    overflow-x: hidden;
}